<div class="grid-container">
  <div class="grid-item">

    <ng-container *ngFor="let chapter of chapters.reverse()">
      <div style="margin-bottom: 50px">
        <div class='book'>
          <div class='cover left'></div>
          <div class='cover spine'></div>
          <div class='cover right'></div>
          <div class='page left'>
            <h1>
              <p *ngIf="book" (click)="definitionOfWordSelected()">
                titre du livre : {{book.title}} <br/> ({{book.creationDate | date}})  
              </p>
            </h1>
            <img style="width: 300px; height: 300px; margin-bottom: 10px" *ngIf="chapter.picture" src="{{chapter.picture}}"/>
            <audio
              controls
              src="https://api.voicerss.org/?key=c969182c5ca64c46adc8ac2b881bfe52&hl=fr-fr&src={{chapter.content}}">
              Your browser does not support the
              <code>audio</code> element.
            </audio>
          </div>
          <div class='page right'>
            <div (click)="definitionOfWordSelected()">
              <p style="font-size: 15px"> titre du chapitre : {{chapter.title}} ({{chapter.creationDate | date}})</p>
              <p style="font-size: 13px"> <br/>{{chapter.content}}  </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="grid-item2">
    <p *ngIf="!definitionWordApi">Click on a word in book to know its definition /<br/>
      Clique sur un mot dans le livre pour connaître sa définition
    </p>
    <ng-container *ngIf="definitionWordApi">
      <div> Définition de <strong>{{definitionWordApi.title}}</strong></div>
      <div [innerHTML]="definitionWordApi.extract"></div>
      <div *ngIf="!definitionWordApi.extract || definitionWordApi.extract === ''">
        <br/>
        Aucune définition trouvée pour << {{definitionWordApi.title}} >>
      </div>
    </ng-container>
  </div>
</div>

<br/>
<br/>
<form class="myForm" [formGroup]="commentForm" (ngSubmit)="prepareCommentNote()" novalidate>
  <h1>Mettre un commentaire</h1>

  <div class="fam-user-create--form-body">
    <div class="fam-user-create--form-item">
      <mat-form-field class="fam-user-create--form-field">
        <textarea matInput formControlName="comment" placeholder="comment" type="text" required></textarea>
      </mat-form-field>
    </div>


    <div class="fam-user-create--form-item">
      <mat-form-field class="fam-user-create--form-field">
        <input matInput formControlName="note" placeholder="note" type="number" step="1" min="0" max="20" required/>
      </mat-form-field>
    </div>
  </div>

  <button mat-button type="submit">Send Opinion</button>
</form>

<table *ngIf="allComment" mat-table [dataSource]="allComment" class="mat-elevation-z8">
  <ng-container matColumnDef="authorName">
    <th mat-header-cell *matHeaderCellDef> authorName</th>
    <td mat-cell *matCellDef="let element"> {{element.authorName}}</td>
  </ng-container>

  <ng-container matColumnDef="notation">
    <th mat-header-cell *matHeaderCellDef> notation</th>
    <td mat-cell *matCellDef="let element"> {{element.notation}}</td>
  </ng-container>

  <ng-container matColumnDef="comment">
    <th mat-header-cell *matHeaderCellDef> comment</th>
    <td mat-cell *matCellDef="let element"> {{element.comment}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
