<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <div class="card-block">
      <div id="login-box">
        <div class="right">
          <span class="loginwith">Sign in with<br />social network</span>

          <button class="social-signin facebook" (click)="signInWithFB()">Log in with facebook</button>
          <!--
          <button class="social-signin twitter">Log in with Twitter</button>
          <button class="social-signin google">Log in with Google+</button> -->
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <app-sidebar></app-sidebar>
    <p style="width: 500px; margin: auto">
      For navigate, please use the sidenav in the grey zone (left of screen). Menu appear hidden because lack icons

    </p>
    <br/>
    <br/>
    <p style="width: 500px; margin: auto">
      Pour naviguer, utilisez le menu gauche caché dans la zone grise qui apparait caché car il manque les icones.
      Survolé la zone grise pour l'instant pour utiliser le menu les liens apparaitront ensuite
    </p>

  </div>
</div>

