<div class="jumbotron bg-transparent text-center">
  <div *ngIf="!user" class="card text-center">
    <div class="card-block">
      <div id="login-box">
        <div class="right">
          <span class="loginwith">Sign in with<br />social network</span>

          <button class="social-signin facebook" (click)="signInWithFB()">Log in with facebook</button>
          <!--
          <button class="social-signin twitter">Log in with Twitter</button>
          <button class="social-signin google">Log in with Google+</button> -->
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="user" class="card text-center">
    <app-sidebar></app-sidebar>
  </div>
</div>

