<section>

  <form [formGroup]="userCreationForm" (ngSubmit)="prepareBook()" novalidate>

    <div class="fam-user-create--form-body">
      <div class="fam-user-create--form-item">
        <mat-form-field class="fam-user-create--form-field">
          <input matInput formControlName="title" placeholder="title" type="text" required />
        </mat-form-field>
      </div>

      <div class="fam-user-create--form-item">
        <mat-form-field class="fam-user-create--form-field">
          <input matInput formControlName="picture" placeholder="URL of your picture" type="url" required />
        </mat-form-field>
      </div>


      <div class="fam-user-create--form-item">
        <mat-form-field class="fam-user-create--form-field">
          <input matInput formControlName="categorie" placeholder="categorie" type="text" required />
        </mat-form-field>
      </div>
    </div>

    <button mat-button type="submit">Create book</button>
  </form>
</section>
