<div class="area"></div>
<nav class="main-menu">
  <ul>

    <li class="has-subnav">
      <a routerLink="/home">
        <i class="fa fa-folder-open fa-2x"></i>
        <span class="nav-text">Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/mangas">
        <i class="fa fa-home fa-2x"></i>
        <span class="nav-text">Mangas</span>
      </a>
    </li>

  </ul>

  <ul class="logout">
    <li>
      <a href="#">
        <i class="fa fa-power-off fa-2x"></i>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
<div style="margin-left: 80px">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

