<div class="area"></div>
<nav class="main-menu">
  <ul>

    <li class="has-subnav">
      <a routerLink="/home">
        <img src="https://image.flaticon.com/icons/png/512/25/25694.png" class="fa fa-folder-open fa-2x" />
        <span class="nav-text">Home</span>
      </a>
    </li>

    <li>
      <a routerLink="/top">
        <img src="https://www.icone-png.com/png/23/23371.png" class="fa fa-home fa-2x" />
        <span class="nav-text">Top 1</span>
      </a>
    </li>

    <li>
      <a routerLink="/mangas">
        <img src="https://image.flaticon.com/icons/svg/29/29302.svg" class="fa fa-home fa-2x"/>
        <span class="nav-text">Mangas</span>
      </a>
    </li>

    <li>
      <a routerLink="/books">
        <img src="https://www.icone-png.com/png/40/39859.png" class="fa fa-home fa-2x" />
        <span class="nav-text">Books</span>
      </a>
    </li>

    <li>
      <a routerLink="/creation-studio">
        <img src="https://image.flaticon.com/icons/png/512/16/16310.png" class="fa fa-home fa-2x" />
        <span class="nav-text">My Studio</span>
      </a>
    </li>

  </ul>

  <ul class="logout">
    <li>
      <a style="cursor: pointer" (click)="signOut()">
        <img src="http://chittagongit.com/download/361224" class="fa fa-power-off fa-2x"/>
        <span class="nav-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
<div style="margin-left: 80px">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

